body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7e867e;
    background-image:
        repeating-linear-gradient(
            to bottom,
            #f6debe 0px,
            #f6debe 1px,
            transparent 1px,
            transparent 40px
        ),
        repeating-linear-gradient(
            to right,
            #f6debe 0px,
            #f6debe 1px,
            transparent 1px,
            transparent 40px
        );
}
