* {
    background-color: azure;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "control-panel widget-preview"
        "footer footer";
}

.container div {
    padding: 10px;
}
.container div.header {
    grid-area: header;
    text-align: center;
}
.container div.control-panel {
    grid-area: control-panel;
}
.container div.widget-preview {
    grid-area: widget-preview;
}
.container div.footer {
    grid-area: footer;
    text-align: center;
}
