body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #333333;
    /* Radical Dark Background */
    background-image:
        linear-gradient(rgba(200, 200, 200, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(200, 200, 200, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    /* Large Grid */
}